<div class="jumbotron">
  <div class="container">
    <h1>Find a movie</h1>
    <p>Search for a movie using the form below:</p>
    <!-- <form (ngSubmit)="searchFnc(inputString)" #searchForm="ngForm">
      <input 
          name="inputString" 
          [(ngModel)]="inputString" 
          type="text" 
          class="form-control" 
          maxlength="10" 
          minlength="1" 
          #inputField="ngModel"
          ng-required="true"
          ngModel
      /> 

      <h3>{{inputString}}</h3>
       
      <br>
      <button type="submit">Search</button>
    </form> -->

    
    <form #form="ngForm" (submit)="searchFnc(form.value)">
      <input type="text" class="form-control" name="search" ngModel>
      <button  type="sumbit" class="btn btn-primary">Search</button>
    </form>  
  </div>
</div>
<!-- <app-search ></app-search>  -->
<!-- <div *ngIf="isSeachButtonClicked;else noMatches"></div> -->

<!-- <ng-template #noMatches>
    <h1 class="panel-title mt-5 text-center">No matches! </h1>
  </ng-template> -->

<div *ngIf="isSeachButtonClicked">
  <div *ngIf="foundMovies.results.length > 0; else loading" class="panel panel-default"  >
    <div class="panel-heading">
      <h3  class="panel-title mt-5 mb-5 text-center">Matched Movies</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div *ngFor="let movie of foundMovies.results;let i=index" class="col-md-2">
          <app-movie *ngIf="i < 6" [movie]="movie"></app-movie>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <h1 class="panel-title mt-5 text-center">No matches! </h1>
</ng-template>

<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title mt-5">Popular Movies</h3>
    </div>
    <div class="panel-body">
      <div *ngIf="popular" class="row">
        <div *ngFor="let movie of popular.results;let i=index" class="col-md-2">
          <app-movie *ngIf="i < 6" [movie]="movie"></app-movie>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">In Theaters</h3>
    </div>
    <div class="panel-body">
      <div *ngIf="moviesInTheaters" class="row">
        <div *ngFor="let movie of moviesInTheaters.results;let i=index" class="col-md-2">
          <app-movie *ngIf="i < 6" [movie]="movie"></app-movie>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Kids</h3>
    </div>
    <div class="panel-body">
      <div *ngIf="bestKidsMovies" class="row">
        <div *ngFor="let movie of bestKidsMovies.results;let i=index" class="col-md-2">
          <app-movie *ngIf="i < 6" [movie]="movie"></app-movie>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Best Dramas</h3>
    </div>
    <div class="panel-body">
      <div *ngIf="bestDramaMovies" class="row">
        <div *ngFor="let movie of bestDramaMovies.results;let i=index" class="col-md-2">
          <app-movie *ngIf="i < 6" [movie]="movie"></app-movie>
        </div>
      </div>
    </div>
  </div>
</div>
